{% block content %}
{% for video in videos %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{{ video.thumbnail.url }}" style="width:360; length:400"/>
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">
          {{ video.description }}
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{{ video.thumbnail.url }}" style="width:360; length:400"/>
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">
          {{ video.description }}.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{{ video.thumbnail.url }}" style="width:360; length:400"/>
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">{{ video.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor video %}
{% endblock content %}