{% extends 'base_dashboard.html' %}

    <title>Blocked Videos</title>

    {% block content %}
        <ul>
            {% for video in moderated_videos %}
                    <li>
                        <a href="{% url 'videos:blocked_video_details' video.id %}">
                            <div>
                                {{ video.title }}
                                {{ video.description }}
                                {{ video.status }}
                            </div>
                        </a>
                    </li>
            {% empty %}
                <p>There are no blocked videos currently</p>
            {% endfor %}
        </ul>
    {% endblock content %}

