<div class="video-grid">
          {% for video in videos %}
            <div class="videos__container card">
              <!-- Single Video starts -->
              <div class="video card">
                <div class="video__thumbnail">
                  <a href="{% url 'videos:video' %}">
                    <img src="{{ video.thumbnail.url }}" alt="" />
                  </a>
                </div>
                <div class="video__details">
                  <a href="{% url 'users:profile' %}">
                    <span>{{ video.owner }}</span>
                  <div class="author">
                    <img src="{{ video.user.avatar.url }}" alt="" />
                  </div>
                  </a>
                  <div class="title">
                    <h3>
                      {{ video.title }}
                    </h3>
                      <h3>{{ video.owner.username }}</h3>
                    <a href=""></a>
                      <h3>{{ video.owner.username }}</h3>
                    <span>{{ video.post_views }} views </span>
                    <span>{{ video.recording_date_and_location|timesince }} ago</span>

                  </div>
                </div>
              </div>

              {% endfor %}
          <!-- Single Video Ends -->
            </div>
          </div>
        </div>
      </div>