<!-- watch_later.html -->
{% extends "base_dashboard.html" %}

{% block content %}
  <h1>Watch Later Videos</h1>
  <ul>
    {% for watch_later_video in watch_later_videos %}
      <li>
        <a href="{% url 'videos:video_details' watch_later_video.id %}">{{ watch_later_video.video.title }}</a>
        <a href="{% url 'videos:remove_from_watch_later' watch_later_video.id %}">Remove from Watch Later</a>
      </li>
    {% empty %}
    <p>There are no videos on the watch later section</p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
